env:
  GRADLE_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2"

# Teil von Blatt 4 ist es einen eigenen Job zu definieren
name: root workflow
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    paths:
      - 'blatt4/**/*'
jobs:
  call_blatt4_workflow:
    name: Blatt 4
    uses: ./.github/workflows/blatt4-github-ci.yml
